using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;

namespace {{packageName}}.{{apiPackage}}
{
	public interface ISlidingRateLimiter
	{
		void WaitUntilLimit();

		Task WaitUntilLimitAsync(CancellationToken ct);
	}
}