name: CSharp Xero SDK generator

on: push

jobs:
  build:
    env:
      ContinuousIntegrationBuild: true
      EmbedUntrackedSources: true

    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-dotnet@v1

    - name: Setup NuGet
      run: dotnet nuget add source --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

    - name: OpenAPI Version
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: version

    - name: generate csharp Assets
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero_assets.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Asset

    - name: generate csharp Bankfeeds
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero_bankfeeds.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Bankfeeds

    - name: generate csharp Files
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero_files.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Files

    - name: generate csharp Identity
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero-identity.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Identity

    - name: generate csharp Projects
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero-projects.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Project

    - name: generate csharp Accounting
      uses: docker://openapitools/openapi-generator-cli:v4.3.1
      with:
        args: generate -t ./generator/modules/csharp-netcore -i ./xero_accounting.yaml -g csharp-netcore -o ./output/csharp-netcore/accounting --additional-properties=packageVersion=4.0.${{github.run_number}} -c ./generator/scripts/csharp/config.yml --model-package Model.Accounting
    
    - name: Update permissions
      run: sudo chmod 777 -R .

    - name: Copy additional code files
      run: cp -r ./src ./output/csharp-netcore/accounting/src/Xero.NetStandard.OAuth2/

    - name: Install dependencies
      run: dotnet restore
      working-directory: ./output/csharp-netcore/accounting
    
    - name: Build
      run: dotnet build --configuration Release --no-restore -p:Version=4.0.${{github.run_number}}
      working-directory: ./output/csharp-netcore/accounting
    
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ./output/csharp-netcore/accounting

    - name: Package
      run: dotnet pack -p:PackageVersion=4.0.${{github.run_number}} -p:RepositoryUrl="https://github.com/ledgerscope/Xero-OpenAPI" -p:RepositoryType=git
      working-directory: ./output/csharp-netcore/accounting/src/Xero.NetStandard.OAuth2/

    - name: Publish
      run: dotnet nuget push -s github "**/*.nupkg"
      working-directory: ./output/csharp-netcore/accounting

    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: Packages
        path: ./**/*.nupkg

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Source
        path: ./*

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:    
    - uses: actions/download-artifact@v4
      with:
        name: Packages

    - name: Setup NuGet
      run: dotnet nuget add source --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

    - name: Publish
      run: dotnet nuget push -s github "**/*.nupkg"
      working-directory: ./output/csharp-netcore/accounting